<?xml version="1.0" encoding="UTF-8"?>
<Configuration advertiser="multicastdns">
    <Appenders>
        <RollingFile
                name="file"
                fileName="src/main/logs/app.log"
                filePattern="src/main/logs/app_%d{HH:mm:ss.SSS}.log"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1Mb" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>